a {
    color: unset;
}

.stationList{
	font-family: Chivo;
	font-weight: 600;
}

.outln{
	text-shadow: 1px 1px 2px black;
}

/* Social Media Icon CSS */
.socials{
    cursor: pointer;
    color: #ffffff;
}

.socials-twitter:hover{
    transition: all 0.25s;
    color: #1DA1F2;
    text-shadow: 0 0 25px #1DA1F2;
}

.socials-yt:hover{
    transition: all 0.25s;
    color: #E42B2b;
    text-shadow: 0 0 25px #E42B2B;
}
/****************************************************/

/* Buttons CSS */
.btn-outline-primary{
    background-color: #222222;
    border-color: #fff;
    color: #fff}

.btn-outline-primary:hover{
    background-color: #324158;
    border-color: #41b6e6;
    color: #ffffff;
    box-shadow: 0 0 10px #41b6e6;}

.custom{
    width: 220px;
    height: auto;}

.custom2{
    min-width: 460px;
    height: auto;}

.custom3{
    width: 220px;
    height: auto;}

.custom4{
    width: auto;
    height: auto;
	margin-bottom: 10px;}
.custom4:hover{
    background-color: #324158;
    border-color: #41b6e6;
    color: #ffffff;
    box-shadow: 0 0 10px #41b6e6;}

.customPP:hover{
	background-color: #2D4184;
    border-color: #ffffff;
    color: #ffffff;
    box-shadow: 0 0 10px #2D4184;  }

.customKOFI:hover{
	background-color: #D95151;
    border-color: #ffffff;
    color: #ffffff;
    box-shadow: 0 0 10px #D95151;  }

.backbtn{
    width: 100px;}

/****************************************************/

/* Metra Schedule Buttons CSS */
.customHC{
    border-color: #8B1D42;
    color: #ffffff;}
.customHC:hover{
	background-color: #8B1D42;
    border-color: #8B1D42;
    color: #ffffff;
    box-shadow: 0 0 10px #8B1D42;}


.customNCS{
	border-color: #63339F;
    color: #ffffff;}
.customNCS:hover{
	background-color: #63339F;
    border-color: #63339F;
    color: #ffffff;
    box-shadow: 0 0 10px #63339F;}


.customMDW{
	border-color: #F3B24A;
    color: #ffffff;}
.customMDW:hover{
	background-color: #F3B24A;
    border-color: #F3B24A;
    color: #ffffff;
    box-shadow: 0 0 10px #F3B24A;}


.customUPN{
	border-color: #0D5201;
    color: #ffffff;}
.customUPN:hover{
	background-color: #0D5201;
    border-color: #0D5201;
    color: #ffffff;
    box-shadow: 0 0 10px #0D5201;}


.customUPW{
	border-color: #FFB2B9;
    color: #ffffff;}
.customUPW:hover{
	background-color: #FFB2B9;
    border-color: #FFB2B9;
    color: #ffffff;
    box-shadow: 0 0 10px #FFB2B9;}


.customSWS{
	border-color: #005FB9;
    color: #ffffff;}
.customSWS:hover{
	background-color: #005FB9;
    border-color: #005FB9;
    color: #ffffff;
    box-shadow: 0 0 10px #005FB9;}


.customMDN{
	border-color: #EA7200;
    color: #ffffff;}
.customMDN:hover{
	background-color: #EA7200;
    border-color: #EA7200;
    color: #ffffff;
    box-shadow: 0 0 10px #EA7200;}


.customRI{
	border-color: #E0261D;
    color: #ffffff;}
.customRI:hover{
	background-color: #E0261D;
    border-color: #E0261D;
    color: #ffffff;
    box-shadow: 0 0 10px #E0261D;}


.customUPNW{
	border-color: #FFDE02;
    color: #ffffff;}
.customUPNW:hover{
	background-color: #FFDE02;
    border-color: #FFDE02;
    color: #ffffff;
    box-shadow: 0 0 10px #FFDE02;}


.customBNSF{
	border-color: #3DAE2C;
    color: #ffffff;}
.customBNSF:hover{
	background-color: #3DAE2C;
    border-color: #3DAE2C;
    color: #ffffff;
    box-shadow: 0 0 10px #3DAE2C;}


.customME{
	border-color: #FE4E00;
    color: #ffffff;}
.customME:hover{
	background-color: #FE4E00;
    border-color: #FE4E00;
    color: #ffffff;
    box-shadow: 0 0 10px #FE4E00;}
/****************************************************/

/* Image CSS */
#arrow{
    max-width: 50px;
    min-width: 50px;
    height: auto;
}

#brand{
    max-width: 100%;
    min-width: 40%;
    height: auto;
}

#vagallery img{
    width: 20%;
    margin: 10px;
    opacity: 100%;
    transition: opacity 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#vagallery img:hover{
    opacity: 50%;
    transform: scale(1.1);
}

#vagalleryMBL img{
    width: 25%;
    margin: 10px;
    opacity: 100%;
    transition: opacity 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#vagalleryMBL img:hover{
    opacity: 50%;
    transform: scale(1.1);
}

#fwgallery img{
    width: 20%;
    margin: 10px;
    opacity: 100%;
    transition: opacity 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#fwgallery img:hover{
    opacity: 50%;
    transform: scale(1.1);
}

#fwgalleryMBL img{
    width: 30%;
    margin: 10px;
    opacity: 100%;
    transition: opacity 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#fwgalleryMBL img:hover{
    opacity: 50%;
    transform: scale(1.1);
}

#dngallery img{
    width: 20%;
    margin: 10px;
    opacity: 100%;
    transition: opacity 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#dngallery img:hover{
    opacity: 100%;
    transform: scale(1.1);
}

#dngalleryMBL img{
    width: 35%;
    margin: 5px;
    opacity: 100%;
    transition: opacity 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#dngalleryMBL img:hover{
    opacity: 100%;
    transform: scale(1.1);
}

#o4bgallery iframe{
    margin: 10px;
    opacity: 100%;
    transition: opacity 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#o4bgalleryMBL iframe{
    margin: 5px;
    opacity: 100%;
    transition: opacity 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#showcase img{
    min-width: 45%;
    max-width: 70%;
    margin: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#showcaseL img{
    max-width: 85%;
    margin: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#dnshowcase img{
    max-width: 75%;
    transition: transform 200ms ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#dnshowcase img:hover{
    transform: scale(1.05);
}

#dnshowcaseL img{
    max-width: 85%;
    margin: 0px;
    transition: transform 200ms ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#dnshowcaseL img:hover{
    transform: scale(1.05);
}

#dnshowcaseP img{
    max-width: 55%;
    margin: 0px;
    transition: transform 200ms ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#dnshowcaseP img:hover{
    transform: scale(1.05);
}

#btnLogo{
    max-width: 30px;
    min-width: 30px;
    height: auto;
}

#agencyLogo{
    max-width: 50px;
    min-width: 50px;
    height: auto;
}

#accessibleIcon{
    max-width: 30px;
    min-width: 30px;
    height: auto;
}
/****************************************************/